  .hero{
    background-image: url(../imges/heros/h1.jpg);
    backdrop-filter: brightness(0.7);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
  }
  .hero1{
      background-image: url(../imges/heros/h2.jpg);
    backdrop-filter: brightness(0.7);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
  }
   .hero2{
      background-image: url(../imges/heros/h3.jpg);
    backdrop-filter: brightness(0.7);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
  }
  #icons div li img{
    width:100px;
    max-height: 150px;
  }
      .hover-effect:hover {
      filter: brightness(0.7);
    }

    #backToTopBtn {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

#backToTopBtn.show {
  opacity: 1;
  visibility: visible;
}