  .hero{
    background-image: url(../imges/heros/h1.jpg);
    backdrop-filter: brightness(0.7);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
  }
  .hero1{
      background-image: url(../imges/heros/h2.jpg);
    backdrop-filter: brightness(0.7);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
  }
   .hero2{
      background-image: url(../imges/heros/h3.jpg);
    backdrop-filter: brightness(0.7);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
  }
  #icons div li img{
    width:100px;
    max-height: 150px;
  }
      .hover-effect:hover {
      filter: brightness(0.7);
    }

    #backToTopBtn {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

#backToTopBtn.show {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 767px) {
ul ul li{
 padding: 30px;

  border-top: solid 1px black;

}
ul ul li:hover{
  color: #5e431a;
  border-top: solid 1px #5e431a;
}}
@media (min-width: 767px) {
ul ul{
  margin-top: 29px;
  width: 20vw;
}
ul ul li{
padding: 10px;
 background-color: #fff;
  border-top: solid 1px black;

}
ul ul li:hover{
  color: #5e431a;
  border-top: solid 1px #5e431a;}}